.text-widget p {
    max-width: 409px;
}

.subscribe-group {
    max-height:40px; 
    margin-top: 20px; 
    width: 70%;
}

.subscribe-group .subscribe-addon {
    background-color: black;
    color: #fff;
}

@media (max-width: 575.98px) { 
    .subscribe-group {
        width: 100%;
    }
}

/* typeahead */

.typeahead__result .row {
    display: table-row;
}
 
.typeahead__result .row  > * {
    display: table-cell;
    vertical-align: middle;
}
 
.typeahead__result .username {
    padding: 0 10px;
}
 
.typeahead__result .id {
    font-size: 12px;
    color: #777;
    font-variant: small-caps;
}
 
 
.typeahead__result .project-logo {
    display: inline-block;
    height: 100px;
}
 

.typeahead__result .project-information {
    display: inline-block;
    vertical-align: top;
    padding: 20px 0 0 20px;
}
 
.typeahead__result .project-information > span {
    display: block;
    margin-bottom: 5px;
}
 
.typeahead__result > ul > li > a small {
    padding-left: 0px;
    color: #999;
}
 
.typeahead__result .project-information li {
    font-size: 12px;
}

